<div *ngIf="loading" class="modal">
  <p>Carregando!!</p>
</div>
<div *ngIf="!loading" class="container">
  <div class="header">
    <div class="character">
      <div class="character-text ct-text">
        Equip CT
      </div>
      <div class="ct"></div>
    </div>
    <div class="weapons">
      <div class="table">
        <div class="slots" 
            *ngFor="let slot of emptySlots; let i = index"
            (dragover)="onDragOver($event)" 
            (drop)="onDrop($event, i)">
          <div class="slot" [attr.data-index]="i">
            <ng-container *ngIf="!slot.skin">
              <p>Slot vazio</p>
            </ng-container>
            <ng-container *ngIf="slot.skin">
              <img [src]="slot.skin.image" alt="{{ slot.skin.name }}">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="character">
      <div class="character-text t-text">
        Equip T
      </div>
      <div class="t"></div>
    </div>
  </div>
  <div *ngIf="skins" class="body">
    <div class="carousel">
      <button class="prev" (click)="prevSlide()">&#10094;</button>
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let slide of carouselSlides; let slideIndex = index" 
            [ngClass]="{'active': slideIndex === currentSlide}">
          <div class="row">
            <div class="column" *ngFor="let skin of slide">
              <li [draggable]="!skin.disabled" 
                  (dragstart)="onDragStart($event, skin)"
                  [class.disabled]="skin.disabled">
                <a [href]="['/skin/' + skin.id]">
                  <img [src]="skin.image" alt="{{ skin.name }}">
                  <span>{{ skin.name }}</span>
                </a>
              </li>
            </div>
          </div>
        </div>
      </div>
      <button class="next" (click)="nextSlide()">&#10095;</button>
    </div>
  </div>
</div>