.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 58% 42%;
    position: sticky;
    background-image: url('../../assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    
    .header {
        display: flex;
        color: white;
        margin: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.2);
        justify-content: space-around;
        
        .character {
            display: grid;
            grid-template-rows: max-content;
            width: 10rem;
            height: 28rem;
            margin: auto 0;
            justify-items: center;
            place-self: center;

            .character-text {
                height: 2rem;
                width: 6rem;
                border-radius: .2rem;
                padding: 0;
                margin: 0;
                font-size: 1.1rem;
                align-content: center;
                text-align: center;
            }
            .ct-text {
                color: #000;
                background-color: rgb(152, 201, 251);
            }

            .t-text {
                color: #000;
                background-color: rgb(184, 92, 39);
            }

            .ct {
                background-image: url('../../assets/images/ct-character.png');
                background-position: center;
                background-size: cover;
                width: -webkit-fill-available;
                height: -webkit-fill-available;
            }
            
            .t {
                background-image: url('../../assets/images/t-character.png');
                background-position: center;
                background-size: cover;
                width: -webkit-fill-available;
                height: -webkit-fill-available;
            }
        }
        
        .weapons {
            width: 55%;
            height: 100%;
            background-color: #444;

            .table {
                height: -webkit-fill-available;
                width: -webkit-fill-available;
                display: grid;
                padding: .5rem 0;
                grid-template-areas: "a b c";
                align-content: space-between;
                justify-content: space-around;

                .slots {
                    box-shadow: 1px 1px 3px white;
                    height: 5.5rem;
                    width: 10rem;

                    button {
                        border: none;
                        background-color: red;
                        border-radius: 3rem;
                        font-weight: bold;
                        position: relative;
                        float: inline-end;
                        top: -5px;
                        right: -15px;
                        cursor: pointer;
                    }

                    button:hover {
                        background-color: rgba(255, 0, 0, 0.534);
                    }
                    
                    .slot {
                        width: 100%;
                        height: 100%;

                        p {
                            margin: 22% 0;
                            text-align: center;
                            height: fit-content;
                        }
    
                        img {
                            z-index: 1;
                            height: 5.5rem;
                            width: 10rem;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }

    .body {
        margin: 0;
        padding: 0;
        width: -webkit-fill-available;
        display: grid;
        grid-template-rows: 9fr 1fr;
        justify-items: center;
        align-items: center;
    
        .table {
            height: -webkit-fill-available;
            display: grid;
            grid-template-areas: "a b c d e f g h";
            grid-template-columns: repeat(8, min-content);
            margin: .5rem auto 0 auto;
            padding: 0;
            gap: .5rem 2rem;

            .disabled {
                opacity: 0.5;
                pointer-events: none;
                cursor: not-allowed;
            }
    
            li {
                text-decoration: none;
                display: block;
                width: -webkit-fill-available;
                height: fit-content;

                a {
                    width: -webkit-fill-available;
                    display: grid;
                    text-decoration: none;
                    gap: .3rem;
                    cursor: grab;
                    
                    img {
                        background-color: #777;
                        min-width: 10rem;
                        max-width: 10rem;
                        max-height: 7rem;
                        min-height: 5rem;
                    }
                    span {
                        font-size: .8rem;
                        color: white;
                    }
                }
            }
        }
    
        .pagination {
            height: fit-content;
            margin: 0;
        }

        .pagination ::ng-deep .ngx-pagination {
            height: fit-content;
            margin: 0;
            padding: 0;
            display: flex;
            gap: .5rem;
            font-size: .8rem;
            font-weight: bold;
    
            .current {
                color: #000;
                background-color: white;
                border-radius: 1rem;
            }
            .disabled {
                color: #777;
            }
            a:hover {
                border-radius: 1rem;
                text-decoration: underline;
            }
        }
    }
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
    backdrop-filter: blur(15px);
}